BACKOFFICE_DB_HOST=localhost
BACKOFFICE_DB_DATABASE=coin-backoffice
BACKOFFICE_DB_USERNAME=root
BACKOFFICE_DB_PASSWORD=123456

DB_HOST=localhost
DB_DATABASE=coin-backoffice
DB_USERNAME=root
DB_PASSWORD=123456

UI_DB_HOST=localhost
UI_DB_DATABASE=coin-ui
UI_DB_USERNAME=root
UI_DB_PASSWORD=123456

APP_KEY=base64:CRb5tC0Zhr6xf2O0c+qNRQ==
JWT_SECRET=Ieo9uy9pwzRFjUZsOoAPFkinm8fKhrp2

MAIL_HOST=smtp.mailgun.org
SMTP_USERNAME=postmaster@sandboxd7df27566db54ec8bbb7cc3ccdd1a3d5.mailgun.org
SMTP_PASSWORD=db9985640c1af60fa070e1df03353106-770f03c4-5b1dfb5a

MAILGUN_DOMAIN=sandboxd7df27566db54ec8bbb7cc3ccdd1a3d5.mailgun.org
MAILGUN_SECRET=4580fa5aba2fbecbc2cc9bd1114d54b4-770f03c4-e53bd5ff

COIN_FRONT_URL=http://coin-front.dev.digital-lab.ru
COIN_API_URL=proto-server.coin

DB_CONNECTION=mysql-backoffice
GEONAMES_API_URL=http://api.geonames.org
GEONAMES_LOGIN=kkosorukov
MAXMIND_DB_FILE=geobase/GeoLite2-City_20180703/GeoLite2-City.mmdb
CITIES_CSV_FILE=geobase/GeoLite2-City_20180703/GeoLite2-City-Locations-en.csv
POPULATIONS_COUNTRIES_CSV_FILE=geobase/populations_countries.csv
POPULATIONS_CONTINENTS_CSV_FILE=geobase/populations_continents.csv

BITFINEX_URL=https://api.bitfinex.com
MATOMO_HOST=http://proto-matomo.coin/
