div.only-text {
    border: 1px solid black;
    width: 400px;
    height: 50px;
    text-align: center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,ba711d+46,d38572+100 */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(left, #1e5799 0%, #ba711d 46%, #d38572 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #1e5799 0%,#ba711d 46%,#d38572 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #1e5799 0%,#ba711d 46%,#d38572 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#d38572',GradientType=1 ); /* IE6-9 */
    color: #ffffff;
    font-weight: bold;
    padding-top: 20px;
}